main {
    background-color: rgb(190, 188, 188);
}

#main-container {
    background-color: white;
}

#count-title {
    font-size: small;
}

.x-axis .tick line,
.y-axis .domain,
.y-axis .tick line {
    display: none;
}

.hover-text-bg {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hover_circle {
    stroke: #E83A14;
}

.smallMultiple .y-axis-grid .domain path {
    display: none;
}