main {
    background-color: rgb(190, 188, 188);
}

#main-container {
    background-color: white;
}

#count-title {
    font-size: small;
}

.x-axis .tick line,
.y-axis .domain,
.y-axis .tick line {
    display: none;
}

.hover-text-bg {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hover_circle {
    stroke: #E83A14;
}

.smallMultiple .y-axis-grid .domain path {
    display: none;
}

#main-container {
    padding-left: 0;
    padding-right: 0;
}

.container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: auto;
    padding-right: auto;
    padding-top: 20px;
    text-align: center;
    border-top-width: 4px;
    border-color: rgb(190, 188, 188);
    border-top-style: solid;
}

.container>svg {
    width: calc(100% / 4);
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 40px;
    border: none;
    border-radius: 3px;
    background-color: #D9CE3F;
    color: white;
    font-size: larger;
    font-weight: bold;

}

.button:hover {
    background-color: #8e8729;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#help-button {
    position: fixed;
    top: 2em;
    right: 2em;
    font-size: medium;
    padding: 2px 5px;
    margin: 0;
    background-color: #e65140;
}

#help-button:hover {
    position: fixed;
    top: 2em;
    right: 2em;
    font-size: medium;
    padding: 2px 5px;
    margin: 0;
    background-color: #a93427;
}

#help-pop-up {
    position: absolute;
    width: 40%;
    height: 320px;
    left: 30%;
    top: 30%;
    border-width: 1px;
    border-radius: 5px;
    padding: 1em;
    background-color: #c94233;
    color: white;
    font-weight: bold;
    visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#help-pop-up .visible {
    visibility: visible;
}

#close-button {
    background-color: rgb(108, 131, 149);
    color: white;
}

#close-button:hover {
    background-color: rgb(86, 105, 123);
}

#total-training-count {
    font-weight: bold;
    text-align: right;
}

#training-count {
    font-size: 80px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 0px;
}

#count-title {
    text-align: right;
    padding-left: 150px;
}

#count-svg {
    margin-left: auto;
    margin-right: 0;
}

.global-sm {
    padding-left: 150px;
}